/***
* Header navbar
***/
@import "./normalize.css";
@import "./others/fonts.css";
@import "./others/icons.css";

@import "./header.css";
@import "./hero.css";
@import "./projects.css";
@import "./sidebar.css";
@import "./appeal-form.css";

/* outline input none */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

/* outline btn none */
.btn:focus {
  box-shadow: none;
}

.btn:active {
  box-shadow: none;
}

body {
  font-family: Montserrat-medium;
  font-weight: medium;
  font-size: 14px;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.justify-b {
  justify-content: space-between;
  align-items: center;
}

.justify-e {
  justify-self: flex-end;
}




/**
** Footer
**/

.page-footer {
  padding: 49px 0;
  margin-top: 187px;
  border-top: 1px solid rgb(212, 212, 212);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  width: 648px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content p {
  margin-bottom: 0;
}

.footer__content img {
  width: 80px;
  height: 80px;
}

/**
** Modal
**/


.modal-header {
  border-bottom: none;
  justify-content: center;
}
.modal-footer {
  border-top: none;
}
.modal-dialog {
  height: 916px;
  padding: 40px 80px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 79px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
button.close {
  position: absolute;
  z-index: 559;
  top: 20px;
  right: 20px;
}

.modal-dialog button.close > span:hover {
  cursor: pointer;
}

.modal-content {
  border: none;
  text-align: center;
}

.modal-title {
  font-size: 30px;
  font-family: Montserrat-bold;
  margin-bottom: 25px;
}

.modal-paragraph {
  font-family: Montserrat-medium;
  font-size: 14px;
  color: #6A6A6A;
}

.modal-paragraph a {
  color: #007EFF;
}

.modal__input {
  height: 60px;
  left: 0px;
  top: 0px;

  background: #FAFAFA;
  border: 1px solid #8B8B8B;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 18px 22px;
  color: #000;
  font-family: Montserrat-medium;
  font-size: 16px;

}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-social-btn {
  width: 479px;
  border: 2px solid #333333;
  border-radius: 50px;
  text-align: center;
  padding: 13px 0;
  padding-left: 185px;
  text-align: left;
}

.modal-social-vk {
  background-image: url("../img/icons/vk.svg");
  background-repeat: no-repeat;
  background-position: 85px center;
}
.modal-social-fb {
  background-image: url("../img/icons/fb.svg");
  background-repeat: no-repeat;
  background-position: 93px center;
}
.modal-social-ok {
  background-image: url("../img/icons/ok.svg");
  background-repeat: no-repeat;
  background-position: 96px center;
}
.modal-social-gos {
  background-image: url("../img/icons/gosuslugi.svg");
  background-repeat: no-repeat;
  background-position: 37px center;
}