{% extends 'base.html.twig' %}

{% block title %}Портал сообществ
{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    <div class="page-main">
    </div>

    {% include "footer.html.twig" %}

{% endblock %}