{% extends 'base.html.twig' %}

{% block title %}Портал сообществ
{% endblock %}

{% block body %}

	{% include 'header.html.twig' %}

	<main class="page-main">
		<sidebar class="main__sidebar">
			<div class="sidebar__nav">
				<ul class="sidebar__nav__list">
					<li class="sidebar__nav__list__item">
						<a href="#">
							<i class="icon-edit"></i>Личные обращения</a>
					</li>
					<li class="sidebar__nav__list__item">
						<a href="#">
							<i class="icon-appeal"></i>Обращения</a>
					</li>
					<li class="sidebar__nav__list__item">
						<a href="#">
							<i class="icon-user-check"></i>Голосования</a>
					</li>
					<li class="sidebar__nav__list__item">
						<a href="#">
							<i class="icon-users-grey"></i>Участники</a>
					</li>
					<li class="sidebar__nav__list__item">
						<a href="#">
							<i class="icon-panel"></i>Панель</a>
					</li>
				</ul>
			</div>
		</sidebar>

		<div class="content__wrapper">
				<section class="main-content">
					<div class="main-content__header">
						<h2>Список обращений группы</h2>
						<div class="main-content__header__filter">
							<form>
								<p>Фильтр:</p>
								<label class="main-content__label">Жалобы
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
								<label class="main-content__label">Инициативы
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
							</form>

							<a href={{ asset("/petition/new") }} class="main-content__header__link">Составить обращение</a>
						</div>
					</div>

					<div class="main-content__panel">
						<div class="appeal__list">
							<div class="appeal__wrapper">
								<div class="appeal__header">
									<h3>Инициатива 2020/04-000301 | Группа id 436</h3>
									<div class="appeal__header__share">
										<a href="#">
											<i class="icon-logout"></i>Поделиться</a>
										<span class="appeal__header__date">24.04.20</span>
									</div>
								</div>
								<div class="appeal__content">
									<p>С помощью данного сервиса Вы можете направить официальное обращение в Администрацию города Екатеринбурга. Сотрудники Администрации 
										подготовят ответ в течение 30 календарных дней со дня регистрации.</p>
								</div>
							</div>
							<div class="appeal__wrapper">
								<div class="appeal__header">
									<h3>Инициатива 2020/04-000301 | Группа id 436</h3>
									<div class="appeal__header__share">
										<a href="#">
											<i class="icon-logout"></i>Поделиться</a>
										<span class="appeal__header__date">24.04.20</span>
									</div>
								</div>
								<div class="appeal__content">
									<p>С помощью данного сервиса Вы можете направить официальное обращение в Администрацию города Екатеринбурга. Сотрудники Администрации 
										подготовят ответ в течение 30 календарных дней со дня регистрации.</p>
								</div>
							</div>
							<div class="appeal__wrapper">
								<div class="appeal__header">
									<h3>Инициатива 2020/04-000301 | Группа id 436</h3>
									<div class="appeal__header__share">
										<a href="#">
											<i class="icon-logout"></i>Поделиться</a>
										<span class="appeal__header__date">24.04.20</span>
									</div>
								</div>
								<div class="appeal__content">
									<p>С помощью данного сервиса Вы можете направить официальное обращение в Администрацию города Екатеринбурга. Сотрудники Администрации 
										подготовят ответ в течение 30 календарных дней со дня регистрации.</p>
								</div>
							</div>
							<div class="appeal__wrapper">
								<div class="appeal__header">
									<h3>Инициатива 2020/04-000301 | Группа id 436</h3>
									<div class="appeal__header__share">
										<a href="#">
											<i class="icon-logout"></i>Поделиться</a>
										<span class="appeal__header__date">24.04.20</span>
									</div>
								</div>
								<div class="appeal__content">
									<p>С помощью данного сервиса Вы можете направить официальное обращение в Администрацию города Екатеринбурга. Сотрудники Администрации 
										подготовят ответ в течение 30 календарных дней со дня регистрации.</p>
								</div>
							</div>
							<div class="appeal__wrapper">
								<div class="appeal__header">
									<h3>Инициатива 2020/04-000301 | Группа id 436</h3>
									<div class="appeal__header__share">
										<a href="#">
											<i class="icon-logout"></i>Поделиться</a>
										<span class="appeal__header__date">24.04.20</span>
									</div>
								</div>
								<div class="appeal__content">
									<p>С помощью данного сервиса Вы можете направить официальное обращение в Администрацию города Екатеринбурга. Сотрудники Администрации 
										подготовят ответ в течение 30 календарных дней со дня регистрации.</p>
								</div>
							</div>
							<div class="appeal__wrapper">
								<div class="appeal__header">
									<h3>Инициатива 2020/04-000301 | Группа id 436</h3>
									<div class="appeal__header__share">
										<a href="#">
											<i class="icon-logout"></i>Поделиться</a>
										<span class="appeal__header__date">24.04.20</span>
									</div>
								</div>
								<div class="appeal__content">
									<p>С помощью данного сервиса Вы можете направить официальное обращение в Администрацию города Екатеринбурга. Сотрудники Администрации 
										подготовят ответ в течение 30 календарных дней со дня регистрации.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
		</div>


	</main>

	{% include "footer.html.twig" %}


{% endblock %}
