
{% block header %}
    <header class="page-header">
        <div class="container-fluid d-flex">
            <div class="header__logo">
                <a href="#" class="main-navbar__logo">
                    <img src={{ asset("img/logo.svg") }} alt="логотип">
                </a>
            </div>
            <button class="burger__trigger">
                <span></span>
            </button>
            <div class="mobile__menu">
                <ul class="mobile-navbar__list">
                    <li class="mobile-navbar__list__item">
                        <a href="/">Главная</a>
                    </li>
                    <li class="mobile-navbar__list__item">
                        <a href="/petition">Обращения</a>
                    </li>
                    <li class="mobile-navbar__list__item">
                        <a href="/result">Результаты</a>
                    </li>
                    <li class="mobile-navbar__list__item">
                        <a href="/rating">Рейтинги</a>
                    </li>
                    <li class="mobile-navbar__list__item">
                        <a href="/news">Новости</a>
                    </li>
                </ul>
                <ul class="mobile-person__list">
                    <li class="mobile-person__list__item">
                        <a href="#">Зарегистрироваться</a>
                    </li>
                    <li class="mobile-person__list__item">
                        <a href="#">Войти</a>
                    </li>
                </ul>
            </div>
            <div class="navbar__wrapper">
                <navbar class="main-navbar">
                    <div class="row justify-b menu-reverse">
                        <div class="col-xl-5">
                            <div class="main-navbar__left">
                                <ul class="main-navbar__list">
                                    <li class="navbar__list__item navbar__list__item--active">
                                        <a href="/">Главная</a>
                                    </li>
                                    <li class="navbar__list__item">
                                        <a href="/petition">Обращения</a>
                                    </li>
                                    <li class="navbar__list__item">
                                        <a href="/result">Результаты</a>
                                    </li>
                                    <li class="navbar__list__item">
                                        <a href="/rating">Рейтинги</a>
                                    </li>
                                    <li class="navbar__list__item">
                                        <a href="/news">Новости</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 offset-1">
                            <form class="navbar__form">
                                <input type="search" name="search" class="navbar-search__input" placeholder="Искать обращение, жалобу, группу">
                                <button class="navbar-search__btn"></button>
                            </form>
                        </div>
                        <div class="col-xl-2">
                            <div class="navbar__person">
                                <img src={{ asset("img/person.png") }} alt="Фотография" class="navbar__person__img">
                                <a href="#" class="navbar__person__name">Илья Кондрашев</a>
                            </div>
                        </div>
                    </div>

                </navbar>
            </div>
        </div>
    </header>

{% endblock %}